{% extends 'base.html.twig' %}

{% block title %}FitTracker - How to delete your account{% endblock %}

{% block body %}

<h1>How to Delete Your Account on FitTracker</h1>

<span>
We understand that circumstances may lead you to consider deleting your account on our mobile app. 
If you've made up your mind, here's a step-by-step guide to help you through the process:
</span>

<h2>Login to Your Account:</h2>
<p>Open the FitTracker and log in using your credentials.</p>

<h2>Navigate to Your Profile:</h2>
<p>Once logged in, tap on your avatar or profile picture located at the top right of the screen. This action will direct you to your profile page.</p>

<h2>Find "Delete My Account" Button:</h2>
<p>Within your profile page, you should see an button labeled "Delete My Account". Click on this option to proceed with the account deletion process.</p>

<span style="margin-top:100px;">Please note that account deletion is typically irreversible, and all your data associated with the account will be permanently removed.<br> If you have any concerns or questions, feel free to reach out to our support team at jcqs.gr+fittracker-support@gmail.com</span>

<span>Thank you for being a part of FitTracker. We appreciate your time and feedback.</span>
<style>
    body {
        font-family: Arial;
        padding: 50px;
    }
    h1 {
        text-align:center;
        margin-top: 50px;
    }
    h3 {
        margin-left:30px;
    }
    h2 {
        margin-top: 50px;
    }
    p {
        margin-left:30px;
    }
    span {
        text-align:center;
        display:block;
    }

</style>
{% endblock %}